{{template "main" .}}
{{define "content"}}
<div class="container">
  <div class="dashboard jumbotron-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Setup Git-Gateway</h5>
            <div class="card-body">
            <form action="https://github.com/settings/apps/new?state={{ .State }}" method="post">
              Configure the GitHub App integration:
              <input type="text" name="manifest" id="manifest" /><br />
              <input type="submit" value="Create GitHub App" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  input = document.getElementById("manifest");
  input.value = JSON.stringify({
    name: "Octoapp",
    url: "{{ .App.Url }}",
    hook_attributes: { url: "{{ .App.HookUrl }}" },
    redirect_url: "{{ .App.RedirectUrl }}",
    callback_urls: ["{{ .App.CallbackUrl }}"],
    public: false,
    default_permissions: {
      contents: "write"
    },
    default_events: [],
  });
</script>
{{end}}